<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Task 2</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div ng-controller="taskController">
    <form>
      <input type="text" ng-model="tempInput">
      <button ng-click="addNew()">add</button>
    </form>
    <table>
      <tr ng-repeat="item in items"><td> {{ item }} </td><td><button ng-click="editItem(task)">edit</button></td>
      <td><button ng-click="deleteItem(task)">delete</button></td></tr>
    </table>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="app/task.js"></script>
</body>
</html>