<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Task 2</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div ng-controller="taskController">
    <form class="add">
      <input type="text" ng-model="tempInput">
      <button ng-click="addNewItem()">add</button>
    </form>
    <table class="content">
      <tr ng-repeat="item in items">
        <td> {{ item }} </td>
        <td><button ng-click="editItem(item)">edit</button></td>
        <td><button ng-click="deleteItem(item)">remove</button></td>
      </tr>
    </table>
    <form class="edit" ng-show="showEdit">
      <input type="text" ng-model="editInput">
      <button ng-click="saveEdit()">save</button>
    </form>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <script src="app/task.js"></script>
</body>
</html>